/* Icon Colors */
.bi-eye, .bi-clock, .bi-person-add { color: #E0E0E0; }
.bi-check-circle, .bi-check-circle-fill { color: #32A287; }
.bi-pencil-square { color: #E8A87C; }
.bi-x-circle-fill { color: #9E2A2B; }

/* Dashboard Container */
.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  width: 100%;
}

/* Subcontainer */
.dashboard-subcontainer {
  min-height: 300px;
  width: 86%;
}

/* Greetings */
.greetings {
  margin: 3px 0 18px 10px;
}
.greetings h1 {
  font-size: 22px;
  font-weight: 600;
  color: #E0E0E0;
}

/* Events Summary */
.events-summary-container {
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.events-summary {
  height: 163px;
  width: 240px;
  background-color: #221a2a;
  border-radius: 30px;
  padding: 21px 20px 21px 30px;
}
.events-summary .components {
  display: flex;
  gap: 130px;
}
.events-summary h2, .events-summary p {
  color: #E0E0E0;
}
.events-summary h2 {
  margin: 8px 0 5px;
  font-size: 33px;
  font-weight: 600;
}
.events-summary p {
  font-size: 13px;
  font-weight: 500;
}

/* Statistics Container */
.statistics-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.statistics-container .components { gap: 21px; }

/* Heading Styles */
.upcoming-events h3, .active-organizations h3, .events-overview h3 {
  font-size: 15px;
  font-weight: 500;
}
.upcoming-events h2, .active-organizations h2 {
  text-align: center;
  margin: 25px 10px 0px 0px;
}

/* Additional Container */
.additionals {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
}

/* Events Overview */
.events-overview {
  height: 346px;
  width: 80%;
  border-radius: 40px;
  background-color: #221a2a;
  padding: 21px 35px;
}
.events-overview .statistics {
  width: 100%;
  height: 90%;
}
.events-overview .export {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.export button {
  margin-right: 15px;
  font-weight: 600;
}
