/* Icon Colors */
.bi-clock, .bi-person-add { color: #9E9E9E; }
.bi-check-circle, .bi-check-circle-fill { color: #32A287; }
.bi-pencil-square { color: #F39C12; }
.bi-x-circle-fill { color: #9E2A2B; }

/* Dashboard Container */
.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Subcontainer */
.dashboard-subcontainer {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 12px;
  margin-top: 15px;
}

/* Dashboard Text */
.dashboard-text {
  grid-column: span 5;
  height: 10px;
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.dashboard-text h1 {
  font-size: 22px;
  font-weight: 600;
  color: #E0E0E0;
  margin-left: 5px;
}
.dashboard-type {
  height: 45px;
  width: 510px;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1423;
  display: flex;
  border-radius: 8px;
}
.export-sy {
  display: flex;
  height: inherit;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1b1423;
  display: flex;
  border-radius: 8px;
}
.dashboard-type-dropdown {
  display: flex;
  height: inherit;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1b1423;
  display: flex;
  border-radius: 8px;
}
.type {
  height: 75%;
  width: 30%;
  background-color: #271D33;
  border-radius: 5px;
  padding-left: 4px;
  z-index: 3;
  font-size: 9px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Events Summary */
.events-summary {
  height: 120px;
  width: 250px;
  background-color: #1b1423;
  border-radius: 15px;
  padding: 0px 20px 0px 30px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.events-summary .components {
  display: flex;
  align-items: center;
}
.events-summary h2, .events-summary p {
  color: #E0E0E0;
} 
.events-summary h2 {
  font-size: 21px;
  font-weight: 600;
}
.events-summary p {
  font-size: 14px;
  font-weight: 500;
}

/* Statistics Container */
.statistics-container .components { gap: 21px; }

/* Heading Styles */
.upcoming-events, .active-organizations, .quick-links {
  display: block;
  padding-top: 20px;
}
.upcoming-events h3, .active-organizations h3, .events-overview h3, .registered-students h3, .quick-links h3, .export h3 {
  color: #E0E0E0;
  font-size: 14px;
  font-weight: 500;
}
.upcoming-events h2, .active-organizations h2, .quick-links h2 {
  text-align: center;
  margin-top: 15px;
}

/* Chart */
.events-chart {
  grid-column: span 3;
  grid-row: span 3;
  border-radius: 15px;
  background-color: #1b1423;
  padding: 20px 25px;
}
.events-chart .statistics {
  width: 100%;
  height: 80%;
}
.events-chart .export {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.export button {
  margin-right: 15px;
}
.statistics {
  margin-top: 10px;
}

/* Registered Students */
.registered-students {
  grid-row: span 3;
  background-color: #1b1423;
  border-radius: 15px;
  padding: 20px 20px 21px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.registered-students-text {
  width: 100%;
  text-align: start;
}
.registered-students-text h2 {
  font-size: 22px;
  font-weight: 600;
}
.barStats {
  height: 80%;
  width: 63%;
}

/* Quick Links */
.quick-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}