.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-subcontainer {
  min-height: 300px;
  width: 86%;
}

.overview-text h1 {
  font-size: 22px;
  font-weight: 700;
}
.overview-text p {
  font-size: 14px;
  margin: 5px 0px 20px 3px;
}

.information-summary {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.event-summary-container {
  height: 170px;
  width: 66%;
  background: linear-gradient(
    120deg, 
    #25152C 0%, 
    #3A1E4F 40%, 
    #5A3E72 70%, 
    #432C54 85%,
    #3A1E4F 100%);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(90, 62, 114, 0.2),
  0 6px 6px rgba(90, 62, 114, 0.1),
  0 0 100px -10px rgba(90, 62, 114, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.event-summary-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(90, 62, 114, 0.3),
    0 10px 10px rgba(90, 62, 114, 0.2),
    0 0 120px -10px rgba(90, 62, 114, 0.2);
}
.event-status {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.event-summary-text h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 21px;
}
.summary {
  height: 85px;
  width: 180px;
  background-color: #0C0C0C;
  border-radius: 10px;
  text-align: center;
  padding: 12px 0px 0px 0px;
}
.summary h3 {
  font-size: 12px;
  font-weight: 500;
}
.summary span {
  font-size: 28px;
  font-weight: 600;
}
.withhold span {
  color: #ED2B2E;
}
.pre-approved span {
  color: #C6BC05;
}
.approved span {
  color: #5ABE2C;
}

.additional-info-container {
  height: 170px;
  width: 33%;
  background: linear-gradient(
    120deg, 
    #25152C 0%, 
    #3A1E4F 40%, 
    #5A3E72 70%, 
    #432C54 100%);
  border-radius: 10px;
  margin-left: 15px;
  box-shadow: 0 10px 20px rgba(90, 62, 114, 0.2),
              0 6px 6px rgba(90, 62, 114, 0.1),
              0 0 100px -10px rgba(90, 62, 114, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.additional-info-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(90, 62, 114, 0.3),
              0 10px 10px rgba(90, 62, 114, 0.2),
              0 0 120px -10px rgba(90, 62, 114, 0.2);
}
.activities-container {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.additional-info-text {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 20px;
}
.additional {
  height: 85px;
  width: 175px;
  background-color: #0C0C0C;
  border-radius: 10px;
  text-align: center;
  padding: 12px 0px 0px 0px;
}
.additional h3 {
  font-size: 12px;
  font-weight: 500;
}
.additional span {
  font-size: 28px;
  font-weight: 600;
}

.activity-overview {
  height: 270px;
  width: 100%;
  background-color: #0C0C0C;
  border: 1px solid #484848;
  border-radius: 10px;
  margin-top: 15px;
  padding: 12px 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.date-picker {
  display: flex;
  justify-content: space-between;
}
.date-picker h2 {
  font-size: 15px;
  font-weight: 600;
}

.statistics-date {
  appearance: none; /* For modern browsers */
  -webkit-appearance: none; /* For Safari and Chrome */
  -moz-appearance: none; /* For Firefox */
  background: none;
  border: 1px solid #484848; /* Add your custom border */
  padding: 2px 0px 2px 5px; /* Add padding */
  font-size: 14px; /* Customize font */
  color: #333; /* Customize text color */
  border-radius: 8px; /* Optional: round corners */
}

.graph-container {
  display: flex;
  gap: 8px;
}
.graph {
  height: 5px;
  width: 15px;
  background-color: #DAB7FF;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}