@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --gradient: linear-gradient(180deg, #0c0c0c, #25152c);
  --color1: #0c0c0c;
  --color2: #252525;
  --color3: #fefefe;
  --color4: #dab7ff;
  --color5: #4a3b55;
  --color6: #705c7c;
  --borderColor: 0.25px solid hsl(0, 0%, 50%);
  --font: Montserrat, Arial, Helvetica;
  --transition: all ease-in-out 200ms;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Nunito";
  /* overflow: hidden; */
}

.event-title {
  font-size: 2.3rem;
  font-weight: bold;
  color: #f7f0ff;
  /* margin-bottom: 20px; */
}
.event-description {
  font-size: 1rem;
  color: white;
  opacity: 0.5;
}

/* Dropdown Styles */
.dropdown-container {
  position: relative;
  width: 9rem;
}

.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #54366c;
  font-weight: bold;
  /* border: 1px solid  #e2e8f0; */
  border-radius: 0.4rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.2s ease;
}
/* .dropdown-button:hover {
  border: 2px solid #ff0000;
} */

.dropdown-icon {
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}
.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  right: 0;
  margin-top: 0.4rem;
  width: 100%;
  background-color: #54366c;
  /* border: 1px solid #e2e8f0; */
  border-radius: 0.4rem;
  box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1),
    0 2px 4px -1px rgba(255, 255, 255, 0.06);
  z-index: 10;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: left;
  text-transform: capitalize;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  opacity: 0.7;
  transition: all 0.3s ease;
}
.dropdown-item:hover {
  background-color: #9333ea;
  color: #ffffff;
  font-weight: bold;
  opacity: 1;
}

.dropdown-item.selected {
  background-color: #9333ea;
}


.process-title{
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}
.indiv-box {
  background-color: transparent;
  padding: 1.5rem;
  border: 2px solid rgb(255, 240, 240, 0.7);
  border-radius: 18px;
  gap: 1.5rem;
}
.event-image {
  width: 100%;
  /* height: auto; */
}
.event-image img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border: 1.3px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
.event-text h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 3px;
}
.event-text p {
  font-size: 0.8rem;
  color: white;
  opacity: 0.5;
}
.view-details button {
  font-size: 0.7em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  /* text-decoration: underline; */
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.view-details button:hover {
  text-decoration: underline;
  opacity: 1;
}

/* Approve and Reject Button */
.approve-btn,
.reject-btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 7px 17px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.approve-btn {
  background-color: #9333ea;
}
.reject-btn {
  background-color: #930000;
}

.approve-btn:hover {
  background-color: rgb(218, 183, 255);
  opacity: 1;
  color: #463951;
  font-weight: bold;
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(147, 51, 234, 0.3);
}
.reject-btn:hover {
  background-color: rgb(222, 0, 0);
  opacity: 1;
  color: rgb(62, 0, 0);
  font-weight: bold;
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(147, 0, 0, 0.3);
}
.approve-btn:active {
  transform: translateY(-5px);
  opacity: 1;
  box-shadow: 0 2px 8px rgba(147, 51, 234, 0.2);
}
.reject-btn:active {
  transform: translateY(-5px);
  opacity: 1;
  box-shadow: 0 2px 8px rgba(147, 51, 234, 0.2);
}
.approve-btn:focus {
  outline: none;
  background-clip: padding-box;
  border: 1px solid rgb(168 85 247);
  opacity: 1;
  box-shadow: 0 0 0 3px rgba(147, 51, 234, 0.4);
}
.reject-btn:focus {
  outline: none;
  background-clip: padding-box;
  border: 1px solid rgb(147, 0, 0);
  opacity: 1;
  box-shadow: 0 0 0 3px rgba(147, 0, 0, 0.4);
}
