@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --gradient: linear-gradient(180deg, #0C0C0C, #25152C);
    --color1: #0C0C0C;
    --color2: #252525;
    --color3: #fefefe;
    --color4: #DAB7FF;
    --color5: #4a3b55;
    --color6: #705c7c;
    --borderColor: 0.25px solid hsl(0, 0%, 50%);
    --font: Montserrat, Arial, Helvetica;
    --transition: all ease-in-out 200ms;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Nunito";
    /* overflow: hidden; */
}
.container {
    width: 50rem;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
hr {
    margin: 1rem 0 0 0;
    opacity: 25%;
}
.semiheader {
    font-weight: 700;
    font-size: 18px;
}
.userContainer { 
    width: 100%;
    padding: 1rem;
    height: 9rem;
    border: var(--borderColor);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}
.userIcon img{
    width: 7rem;
    border: var(--borderColor);
    border-radius: 100%;
    margin: 0 0 0 1rem;
}
.userDetails {
    flex: 1; 
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}
.userDetails h6 {
    font-weight: 700;
    font-size: 20px;
}
.userDetails p {
    opacity: 50%;
}
.userDetails button {
    border: var(--borderColor);
    border-radius: 10px;
    height: 2.5rem;
    width: 10rem;
    margin-top: 1rem;
    align-self: flex-end;
    transition: var(--transition);
}
.userDetails button:hover {
    font-weight: 600;
    background-color: var(--color5);
}
.subcon {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0 0;
}
/*button*/
.toggleButtonContainer {
    display: flex;
    width: fit-content;
    border: var(--borderColor);
    border-radius: 10px;
    overflow: hidden;
}
.toggleButton {
    flex: 1;
    padding: 0.25rem 1rem;
    background: transparent;
    border-left: var(--borderColor);
    cursor: pointer;
    outline: none;
    transition: var(--transition);
}
.toggleButton:hover {
    background-color: var(--color5);
    font-weight: 600;
}
.toggleButton.active {
    background-color: var(--color5);
    font-weight: 600;
}
.eventSection {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
}
.eventContainer {
    width: 24.5rem;
    height: 9rem;
    border: var(--borderColor);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.eventImage img{
    width: 9rem;
    height: 9rem;
    border-radius: 10px;
    border-right: var(--borderColor);
}
.eventDetails {
    margin: 0 0 0 .75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.eventDetails p {
    line-height: 1rem;
    opacity: 50%;
}
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    align-items: center;
    overflow-y: auto;
}
.profileModalContent {
    background: var(--color2);
    border: var(--borderColor);
    padding: 1rem;
    border-radius: 8px;
    width: 30rem;
}
hr {
    opacity: 25%;
    margin: 1rem 0 1rem 0;
}
.profileModalContent h2 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;

}
.modalInput {
    margin: 1rem 0 1rem 0;
}
.modalInput h3 {
    gap: .50rem;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    margin-bottom: .50rem;
}
.modalInput input {
    width: 100%;
    appearance: none;
    border: var(--borderColor);
    border-radius: 8px;
    background-color: transparent;
    color: var(--color3);
    height: 2.5rem;
    padding: 1rem;
}
.previewProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.previewProfile h4 {
    font-weight: 600;
    opacity: 50%;
}
.previewProfile img{
    border-radius: 100%;
    width: 10rem;
    text-align: center;
    margin-bottom: 1rem;
    border: var(--borderColor);
}
.changePicture {
    height: 2.5rem;
    width: 100%;
    border: var(--borderColor);
    border-radius: 8px;
    transition: var(--transition);
}
.changePicture:hover {
    color: var(--color5);
    background-color: var(--color3);
    font-weight: 600;
}
.userButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}
.userButtons button:hover {
    color: var(--color5);
    background-color: var(--color3);
    font-weight: 600;
}
.userButtons button {
    height: 2.5rem;
    width: 7rem;
    border: var(--borderColor);
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);
}
