@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: linear-gradient(to top, #0C0C0C 70%, #25152C 100%);
  --foreground: #F7F0FF;
}

/* FOR DARK MODE
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
