@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: linear-gradient(to top, #0C0C0C 75%, #25152C 100%);
  --foreground: #F7F0FF;
}

/* FOR DARK MODE
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background:#0C0C0C; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #373737; /* scrollbar thumb */
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #303030; /* Lighter gray on hover */
}