@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Nunito";
}

body {
  overflow-x: hidden;
}

/* Container Styles */
.specify-event-mnc {
  /* background-color: #ed0000; */
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2em;
}

.event-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5em;
}
/* Dropdown Styles */
.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  padding: 0.5rem 1rem;
  background-color: rgb(91, 85, 97, 0.3);
  font-weight: bold;
  border: 1px solid #fff0f04d;
  border-radius: 0.4rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.2s ease;
}
/* .dropdown-button:hover {
  border: 2px solid #ff0000;
} */

.dropdown-icon {
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}
.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  right: 0;
  margin-top: 0.4rem;
  width: 100%;
  background-color: #54366c;
  /* border: 1px solid #e2e8f0; */
  border-radius: 0.4rem;
  box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1),
    0 2px 4px -1px rgba(255, 255, 255, 0.06);
  z-index: 10;
  max-height: 200px; /* Limit the height of the dropdown */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds max-height */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #7b3eac #392549; /* For Firefox */
}
.dropdown-menu::-webkit-scrollbar {
  width: 10px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.dropdown-menu .add-dept::placeholder,
.dropdown-menu .add-partner::placeholder {
  color: rgb(255, 255, 255);
}
.dropdown-menu .add-dept:focus,
.dropdown-menu .add-partner:focus {
  border: 1px solid #e4c7ffb3;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: left;
  text-transform: capitalize;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.dropdown-item:hover {
  background-color: #9333ea;
  color: #ffffff;
  /* font-weight: bold; */
  opacity: 1;
}

.dropdown-item.selected {
  background-color: #9148cd;
  font-weight: bold;
  opacity: 0.9;
}

/* Per Box */
.box {
  /* background-color: #463951; */
  /* background-color: transparent; */
  border-radius: 8px;
  /* margin-bottom: 12px; */
  /* padding: 10px; */
}

/* Label Styles */
.label-container {
  display: flex;
  align-items: center;
  /* margin-bottom: 80px; */
  color: #ffffff;
  opacity: 0.5;
}
.label-container::placeholder {
  color: rgba(255, 0, 0, 0.7); /* Adjust the opacity for visibility */
  opacity: 1;
}

.label-icon i {
  margin-right: 12px;
  font-size: 1.2em; /* Adjust size */
  color: #ffffff; /* Adjust color */
}
.fa-location-arrow {
  color: #cccccc;
  font-size: 1.2rem;
}

/* Input Styles */
.input {
  width: 100%;
  padding: 8px 16px;
  background-color: #3a3a3a;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
}

.input:focus {
  outline: none;
  /* box-shadow: 0 0 0 2px #3b82f6; */
}

/* College Dropdown */
.select {
  width: 100%;
  padding: 8px 16px;
  background-color: rgb(91, 85, 97, 0.3);
  border: 1px solid rgba(227, 198, 255, 0.7);
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

/* Tag Styles */
.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}

.tag {
  display: flex;
  align-items: center;
  background-color: #624878;
  color: white;
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 0.8rem;
}
.tag-remove {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 1.3rem;
  color: white;
  margin-left: 8px;
  cursor: pointer;
}
.tag-remove:hover {
  color: #8f0000;
}

/* Radio Styles */
.radio-group {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
}

.radio-label {
  display: flex;
  align-items: center;
  color: #e0e0e0;
  cursor: pointer;
}

.radio-input {
  margin-right: 10px;
  /* appearance: none; */
}

/* Toggle Switch */
.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toggle {
  position: relative;
  width: 40px;
  height: 20px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565656;
  border: 1px solid #ffffff;
  transition: 0.8s;
  border-radius: 30px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3.5px;
  background-color: #ffffff;
  transition: 0.4s;
  border-radius: 100%;
}

.toggle input:checked + .toggle-slider {
  background-color: #c562ff;
  /* background-color: #6b21a8; */
}
.toggle input:checked + .toggle-slider:before {
  transform: translateX(19px);
}
